{% extends 'base.html' %}
{% block content %}
<div class="container">
    <form action="{{ url_for('saveForm') }}" method="post">
        <div class="mb-3">
            <h1 style="text-align:-webkit-center">AT Tech Automation Framework Dashboard</h1>
            <label for="projectddl" class="form-label">Project</label>
            <select id="selectproject" name="project_name" class="form-select project-field">
                <option value="0">Select Project</option>
                <option value="dr-iq">DR IQ</option>
                <option value="ez-web">EZWeb</option>
            </select>
        </div>
        <div class="mb-3">
            <label for="testingcycle" class="form-label">Testing Cycle</label>
            <select name="testingcycle" class="form-select">
                <option value="0">Select Testing Cycle</option>
                <option value="smoke">Smoke</option>
                <option value="regression">Regression</option>
            </select>
        </div>
        <div class="mb-3" id="dr-iq-modules" style="display: none;">
            <label class="form-label">Modules DR IQ</label>
            <select class="js-example-basic-single" name="selectedmodule_driq" style="width:100%">
                <option value="0" selected>Select Module</option>
                {% for dr in dr_iq_modules %}
                <option value="{{dr}}">{{dr}}</option>
                {% endfor %}
            </select>
            
        </div>
        <div class="mb-3" id="ez-web-modules" style="display: none;">
            <label class="form-label">Module EZ WEB</label>
            <select class="js-example-basic-single" name="selectedmodule_ezweb" style="width:100%">
                <option value="0" selected>Select Module</option>
                {% for e in ez_web_modules %}
                <option value="{{e}}">{{e}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-outline-primary">Submit</button>
        </div>
    </form>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
 <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script>
    $(document).ready(function () {
        $('.js-example-basic-single').select2();
        $("#selectproject").change(function () {
            var sel_project = this.value;
            if (sel_project == 'dr-iq') {
                 $('#ez-web-modules').hide();
                $('#dr-iq-modules').show();



            }
            else if (sel_project == 'ez-web') {
                $('#dr-iq-modules').hide();
                $('#ez-web-modules').show();



            }
            else {
                $('#ez-web-modules').hide();
                $('#dr-iq-modules').hide();

            }

        });
    })
</script>
{% endblock %}